html, body {
 background-color:black;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
  background-color: rgb(255, 255, 255);
  padding-bottom: 33px;
  padding-top: 33px;
}
.title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
  color:black;
}
.info {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 39px;
  color: black;  
  letter-spacing: 5px;
}
canvas {
  
  margin: 0 auto;
  background-color: white;
  display: block;
  
  align-items: center;
}
